<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='eligibility_plan.css') }}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">Step : 1</span></div>
                    <div class="timeline-content">
                        <h3 class="title">HRA & LT Allowance</h3>
                        <p class="description">
                        <p>If you are a salaried individual and live in rented accommodation, you can get House Rent Allowance or HRA. If you are not living in the rented accommodation but still receive the HRA, it will be liable to tax. To claim this allowance, make sure you keep the rent receipts and any evidence of payment done towards rent handy. You can claim the lowest amount of the following as your HRA exemption:
                        <ul>
                        <li>Total HRA received from employer</li>
                        <li>The salary’s 40% (Basic salary+DA) for non-metros and 50% for metros</li>
                        <li>Rent paid less than 10% of basic salary + DA</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">Step 2:</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Deduction under Sec 80C (Max Rs.1,50,000/-)</h3>
                        <p>Maximum of upto ₹1.5 lakh (aggregate of 80C, 80CCC, and 80CCD)</p>
                        <p></p>
                        <p class="description">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">Step : 3</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Section 80EE</h3>
                        <p class="description">
                       Deduction is provided on the interest part of the residential house property loan availed from a financial institution. A maximum of ₹50,000 can be claimed under this section.
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">Step 4:</span></div>
                    <div class="timeline-content">
                        <h3 class="title">80E</h3>
                        <p class="description">
                            Deduction is provided only on the interest part of the education loan.
                            It is available only for eight years, starting from the year your loan repayment begins or until the interest is fully repaid, whichever is earlier.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>